

/* part 1 ------------------------------------------------------------------------------------------------------------------- */


.top{
	height: 320px;
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	vertical-align: middle;
	
}
#web{
	color: #329ea8
	font-family: 'Kelly Slab',70px ;
}

	ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 22px;
  text-decoration: none;
}
.const,.change{
	font-size: 30px;
	text-align: center;
}
@keyframes example {
  0%   {color: blue;}
  17%  {color: yellow;}
  34%  {color: pink;}
  51% {color: red;}
  68% {color: green;}
  85% {color: orange;}
  100% {color: #42d4f5;}
}

#c1 {
 color: blue;
  animation-name: example;
  animation-duration: 1s;
  animation-delay:0;
  animation-iteration-count: infinite;
}
#c2 {
 color: yellow;
  animation-name: example;
  animation-duration: 1s;
  animation-delay:0.17s;
  animation-iteration-count: infinite;
}
#c3 {
 color: :pink;
  animation-name: example;
  animation-duration: 1s;
  animation-delay:0.34s;
  animation-iteration-count: infinite;
}
#c4 {
 color: red;
  animation-name: example;
  animation-duration: 1s;
  animation-delay:0.51s;
  animation-iteration-count: infinite;
}
#c5 {
 color: green;
  animation-name: example;
  animation-duration: 1s;
  animation-delay:0.68s;
  animation-iteration-count: infinite;
}
#c6 {
 color: orange;
  animation-name: example;
  animation-duration: 1s;
  animation-delay:0.85s;
  animation-iteration-count: infinite;
}
#c7 {
 color: #42d4f5;
  animation-name: example;
  animation-duration: 1s;
  animation-delay:1s;
  animation-iteration-count: infinite;
}
#c8 {
 color: blue;
  animation-name: example;
  animation-duration: 1s;
  animation-delay:0s;
  animation-iteration-count: infinite;
}
#c9 {
 color: yellow;
  animation-name: example;
  animation-duration: 1s;
  animation-delay:0.16s;
  animation-iteration-count: infinite;
}

.navbar{
	position: center;
}
.paragraph
{
	background-color:#FDE293;  /*changed color*/
	height: 3500px;
}



/* part 2 ------------------------------------------------------------------------------------------------------------------- */


.container1
{
	width : 100%;
	height : 50px;
}

.first
{
	background-color: 	#E1B317; /*changed color*/
	height: 50px;
	border-radius : 20px;
	
}



.box1
{	
	border-radius: 20px ;
	background-color: #E36C48 ;
	width : 35% ;
	height:400px;
	border : 2px solid black;
	padding : 10px;
	margin : 3px ;
	float: left;
	box-shadow: 5px 10px black;
}

.box2
{	
	border-radius: 20px ;
	background-color: #E36C48 ;
	width : 60% ;
	height:450px;
	border : 2px solid black;
	padding : 10px;
	margin : 3px ;
	float: right;
	box-shadow: 5px 10px black;
}

.container2
{
	width: 100% ;
	height: 800px;
}

.container3
{
	width: 100% ;
	height: 800px;	
}

.box3
{
	border-radius: 20px ;
	background-color: #E36C48 ;
	width : 43% ;
	height:760px;
	border : 2px solid black;
	padding : 0px;
	margin : 0px ;
	float: left;
	box-shadow: 5px 10px black;
}

.box4
{
	border-radius: 20px ;
	background-color: #E36C48 ;
	width : 43% ;
	height:760px;
	border : 2px solid black;
	padding : 0px;
	margin : 0px ;
	float: right;
	box-shadow: 5px 10px black;
}

.box5
{
	border-radius: 20px ;
	background-color: #E36C48 ;
	width : 40% ;
	height:720px;
	border : 2px solid black;
	padding : 0px;
	margin : 0px ;
	float:  left;
	box-shadow: 5px 10px black;
}	



.one
{
	border: 1px solid black;
	border-radius: 20px;
	  width: 160px;
  height: 100px;


}

.two
{
	border: 1px solid black;
	border-radius: 20px;
	  width: 160px;
  height: 100px;
}

.three
{
	border: 1px solid black;
	
	border-radius: 20px;
	  width: 160px;
  height: 100px;
}

.four
{
	border: 1px solid black;
	border-radius: 20px;
	  width: 160px;
  height: 100px;
}

.row1      /*changed nth-child to .row1*/
{
	background-color: #527978;
	
}
tr:nth-child(2)
{
	background-color: #F8B567;
}
tr:nth-child(3)
{
	background-color: gold;
}
tr:nth-child(4)
{
	background-color: purple;
}
tr:nth-child(5)
{
	background-color: brown;
}
tr:nth-child(6)
{
	background-color: #fef3b6 ;
}


/*hover-----------------------------------------------------------------------------------*/
.one:hover, .two:hover, .three:hover, .four:hover,h1:hover, .genie2:hover,.genie1:hover,.change:hover,.const:hover,.table:hover {
  background-color: white;
}


/*image handling in part 2-----------------------------------------------------------------*/
.container2 img, .container3 img, .container4 img{
	object-fit:cover;
	width: 100px;
	height:100px;
	border-radius: 20px;
	margin: none;
}



/* part 3 ------------------------------------------------------------------------------------------------------------------- */
.footer
{	
	margin-top: 1em;
	display: block;
	color: white ;
	background-color: black ;
	width: 100%;
	height: 350px;
}

.rgtfoot
{	
	position: relative;
	left: 1150px ;
	top : 70px;
	color: white ;
}